* {
  color: var(--on-bg);
  /* 去除移动端按钮等元素点击时奇怪的高亮 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: url("../assets/imgs/cursor.png") 3 3, default;

  min-height: 100vh;
  background: rgba(131, 96, 195, 0.2);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(46, 191, 145, 0.2), rgba(131, 96, 195, 0.2));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(46, 191, 145, 0.2), rgba(131, 96, 195, 0.2));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--primary);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
  -webkit-border-radius: 6px;

  &:hover {
    background-color: var(--primary-l);
  }

  &:active {
    background-color: var(--primary-d);
  }
}