.cursor-outer,
.cursor-inner {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
}

.cursor-outer {
  box-sizing: border-box;
  margin-left: -18px;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  border: 1px solid var(--on-bg);
  opacity: .5;
  transition: margin-top 0.3s, margin-left 0.3s, width 0.3s, height 0.3s, background-color 0.3s,
    top 0.1s ease-out, left 0.1s ease-out;
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  background-color: var(--on-bg);
}

.cursor-active {
  .cursor-outer {
    margin-left: -14px;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    background-color: var(--bg-l);
  }
}

.cursor-effect {
  position: fixed;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
  transform: translate(-50%, -50%) scale(0);
  border: 1.5px solid var(--on-bg);
}

.cursor-click {
  .cursor-effect {
    animation: clickanim .5s;
  }

  @keyframes clickanim {

    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: .5;
    }

    100% {
      transform: translate(-50%, -50%) scale(2.8);
      opacity: 0;
    }
  }
}